In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import OneHotEncoder
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

#!pip install pyarrow

In [2]:
df_january2023 = pd.read_parquet("https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2023-01.parquet")
df_january2023.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
0,2,2023-01-01 00:32:10,2023-01-01 00:40:36,1.0,0.97,1.0,N,161,141,2,9.3,1.00,0.5,0.00,0.0,1.0,14.30,2.5,0.00
1,2,2023-01-01 00:55:08,2023-01-01 01:01:27,1.0,1.10,1.0,N,43,237,1,7.9,1.00,0.5,4.00,0.0,1.0,16.90,2.5,0.00
2,2,2023-01-01 00:25:04,2023-01-01 00:37:49,1.0,2.51,1.0,N,48,238,1,14.9,1.00,0.5,15.00,0.0,1.0,34.90,2.5,0.00
3,1,2023-01-01 00:03:48,2023-01-01 00:13:25,0.0,1.90,1.0,N,138,7,1,12.1,7.25,0.5,0.00,0.0,1.0,20.85,0.0,1.25
4,2,2023-01-01 00:10:29,2023-01-01 00:21:19,1.0,1.43,1.0,N,107,79,1,11.4,1.00,0.5,3.28,0.0,1.0,19.68,2.5,0.00

In [3]:
print(f'Q1.Number of columns:{df_january2023.shape[1]}')

Q1.Number of columns:19

In [4]:
df_february2023 = pd.read_parquet("https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2023-02.parquet")
df_february2023.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,Airport_fee
0,1,2023-02-01 00:32:53,2023-02-01 00:34:34,2.0,0.30,1.0,N,142,163,2,4.4,3.50,0.5,0.0,0.0,1.0,9.40,2.5,0.00
1,2,2023-02-01 00:35:16,2023-02-01 00:35:30,1.0,0.00,1.0,N,71,71,4,-3.0,-1.00,-0.5,0.0,0.0,-1.0,-5.50,0.0,0.00
2,2,2023-02-01 00:35:16,2023-02-01 00:35:30,1.0,0.00,1.0,N,71,71,4,3.0,1.00,0.5,0.0,0.0,1.0,5.50,0.0,0.00
3,1,2023-02-01 00:29:33,2023-02-01 01:01:38,0.0,18.80,1.0,N,132,26,1,70.9,2.25,0.5,0.0,0.0,1.0,74.65,0.0,1.25
4,2,2023-02-01 00:12:28,2023-02-01 00:25:46,1.0,3.22,1.0,N,161,145,1,17.0,1.00,0.5,3.3,0.0,1.0,25.30,2.5,0.00

In [5]:
# function to calculate the total duration of the journey
# function takes the dataframe as an argument and adds a column "duration_in_minutes" and returns the dataframe.

def add_duration_in_minutes(df):
    df['duration_in_minutes'] = (df['tpep_dropoff_datetime'] - df['tpep_pickup_datetime']).dt.total_seconds()/60
    return df

In [6]:
df_february2023 = add_duration_in_minutes(df_february2023)
# dataframe with the duration coloumn.
df_february2023.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,Airport_fee,duration_in_minutes
0,1,2023-02-01 00:32:53,2023-02-01 00:34:34,2.0,0.30,1.0,N,142,163,2,4.4,3.50,0.5,0.0,0.0,1.0,9.40,2.5,0.00,1.683333
1,2,2023-02-01 00:35:16,2023-02-01 00:35:30,1.0,0.00,1.0,N,71,71,4,-3.0,-1.00,-0.5,0.0,0.0,-1.0,-5.50,0.0,0.00,0.233333
2,2,2023-02-01 00:35:16,2023-02-01 00:35:30,1.0,0.00,1.0,N,71,71,4,3.0,1.00,0.5,0.0,0.0,1.0,5.50,0.0,0.00,0.233333
3,1,2023-02-01 00:29:33,2023-02-01 01:01:38,0.0,18.80,1.0,N,132,26,1,70.9,2.25,0.5,0.0,0.0,1.0,74.65,0.0,1.25,32.083333
4,2,2023-02-01 00:12:28,2023-02-01 00:25:46,1.0,3.22,1.0,N,161,145,1,17.0,1.00,0.5,3.3,0.0,1.0,25.30,2.5,0.00,13.300000

In [7]:
df_january2023 = add_duration_in_minutes(df_january2023)
# dataframe with the duration coloumn.
df_january2023.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee,duration_in_minutes
0,2,2023-01-01 00:32:10,2023-01-01 00:40:36,1.0,0.97,1.0,N,161,141,2,9.3,1.00,0.5,0.00,0.0,1.0,14.30,2.5,0.00,8.433333
1,2,2023-01-01 00:55:08,2023-01-01 01:01:27,1.0,1.10,1.0,N,43,237,1,7.9,1.00,0.5,4.00,0.0,1.0,16.90,2.5,0.00,6.316667
2,2,2023-01-01 00:25:04,2023-01-01 00:37:49,1.0,2.51,1.0,N,48,238,1,14.9,1.00,0.5,15.00,0.0,1.0,34.90,2.5,0.00,12.750000
3,1,2023-01-01 00:03:48,2023-01-01 00:13:25,0.0,1.90,1.0,N,138,7,1,12.1,7.25,0.5,0.00,0.0,1.0,20.85,0.0,1.25,9.616667
4,2,2023-01-01 00:10:29,2023-01-01 00:21:19,1.0,1.43,1.0,N,107,79,1,11.4,1.00,0.5,3.28,0.0,1.0,19.68,2.5,0.00,10.833333

In [8]:
std_trip_duration = df_january2023['duration_in_minutes'].std()
print(f'Q2. Standard Deviation of trips duration January: {std_trip_duration}')

Q2. Standard Deviation of trips duration January: 42.594351241920904

In [9]:
def remove_outliers(df):
    total_records_before = len(df)
    df_filtered = df[(df['duration_in_minutes'] >= 1) & (df['duration_in_minutes'] <= 60)]
    total_records_after = len(df_filtered)
    print(total_records_before, total_records_after)
    fraction_remaining = total_records_after / total_records_before
    return df_filtered, fraction_remaining

In [10]:
df_january2023_filtered, fraction_january2023 = remove_outliers(df_january2023)
print('Filtered dataset for January 2023: ', df_january2023_filtered.head())
print('Filtered percentage of data for January 2023: ', fraction_january2023*100)

3066766 3009173
Filtered dataset for January 2023:     VendorID tpep_pickup_datetime tpep_dropoff_datetime  passenger_count  \
0         2  2023-01-01 00:32:10   2023-01-01 00:40:36              1.0
1         2  2023-01-01 00:55:08   2023-01-01 01:01:27              1.0
2         2  2023-01-01 00:25:04   2023-01-01 00:37:49              1.0
3         1  2023-01-01 00:03:48   2023-01-01 00:13:25              0.0
4         2  2023-01-01 00:10:29   2023-01-01 00:21:19              1.0

   trip_distance  RatecodeID store_and_fwd_flag  PULocationID  DOLocationID  \
0           0.97         1.0                  N           161           141
1           1.10         1.0                  N            43           237
2           2.51         1.0                  N            48           238
3           1.90         1.0                  N           138             7
4           1.43         1.0                  N           107            79

   payment_type  fare_amount  extra  mta_tax  tip_amount  tolls_amount  \
0             2          9.3   1.00      0.5        0.00           0.0
1             1          7.9   1.00      0.5        4.00           0.0
2             1         14.9   1.00      0.5       15.00           0.0
3             1         12.1   7.25      0.5        0.00           0.0
4             1         11.4   1.00      0.5        3.28           0.0

   improvement_surcharge  total_amount  congestion_surcharge  airport_fee  \
0                    1.0         14.30                   2.5         0.00
1                    1.0         16.90                   2.5         0.00
2                    1.0         34.90                   2.5         0.00
3                    1.0         20.85                   0.0         1.25
4                    1.0         19.68                   2.5         0.00

   duration_in_minutes
0             8.433333
1             6.316667
2            12.750000
3             9.616667
4            10.833333
Filtered percentage of data for January 2023:  98.1220282212598

In [11]:
df_february2023_filtered, fraction_february2023 = remove_outliers(df_february2023)
print('Filtered dataset for January 2023: ', df_february2023_filtered.head())
print('Filtered percentage of data for January 2023: ', fraction_february2023*100)

2913955 2855951
Filtered dataset for January 2023:     VendorID tpep_pickup_datetime tpep_dropoff_datetime  passenger_count  \
0         1  2023-02-01 00:32:53   2023-02-01 00:34:34              2.0
3         1  2023-02-01 00:29:33   2023-02-01 01:01:38              0.0
4         2  2023-02-01 00:12:28   2023-02-01 00:25:46              1.0
5         1  2023-02-01 00:52:40   2023-02-01 01:07:18              1.0
6         1  2023-02-01 00:12:39   2023-02-01 00:40:36              1.0

   trip_distance  RatecodeID store_and_fwd_flag  PULocationID  DOLocationID  \
0           0.30         1.0                  N           142           163
3          18.80         1.0                  N           132            26
4           3.22         1.0                  N           161           145
5           5.10         1.0                  N           148           236
6           8.90         1.0                  N           137           244

   payment_type  fare_amount  extra  mta_tax  tip_amount  tolls_amount  \
0             2          4.4   3.50      0.5        0.00           0.0
3             1         70.9   2.25      0.5        0.00           0.0
4             1         17.0   1.00      0.5        3.30           0.0
5             1         21.9   3.50      0.5        5.35           0.0
6             1         41.5   3.50      0.5        3.50           0.0

   improvement_surcharge  total_amount  congestion_surcharge  Airport_fee  \
0                    1.0          9.40                   2.5         0.00
3                    1.0         74.65                   0.0         1.25
4                    1.0         25.30                   2.5         0.00
5                    1.0         32.25                   2.5         0.00
6                    1.0         50.00                   2.5         0.00

   duration_in_minutes
0             1.683333
3            32.083333
4            13.300000
5            14.633333
6            27.950000
Filtered percentage of data for January 2023:  98.00944077722545

In [12]:
def vectorise_location_onehot_encoding(df):
    df.loc[:, 'PULocationID'] = df['PULocationID'].astype(str)
    df.loc[:, 'DOLocationID'] = df['DOLocationID'].astype(str)
    # Select only the PULocationID and DOLocationID columns
    location_data = df[['PULocationID', 'DOLocationID']]

    encoder = OneHotEncoder(sparse=True, dtype=int)        
    encoded_locations = encoder.fit_transform(location_data)
    sparse_df = pd.DataFrame.sparse.from_spmatrix(encoded_locations, columns=encoder.get_feature_names_out())
    print("Feature Matrix (Sparse):")
    print(sparse_df.head())
    print("\nFeature Names:")
    print(encoder.get_feature_names_out())
    return sparse_df

In [13]:
df_january2023_encoded = vectorise_location_onehot_encoding(df_january2023_filtered)
df_january2023_encoded.head()

/tmp/ipykernel_12249/3703097537.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[:, 'PULocationID'] = df['PULocationID'].astype(str)
/tmp/ipykernel_12249/3703097537.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[:, 'DOLocationID'] = df['DOLocationID'].astype(str)

Feature Matrix (Sparse):
   PULocationID_1  PULocationID_10  PULocationID_100  PULocationID_101  \
0               0                0                 0                 0
1               0                0                 0                 0
2               0                0                 0                 0
3               0                0                 0                 0
4               0                0                 0                 0

   PULocationID_102  PULocationID_106  PULocationID_107  PULocationID_108  \
0                 0                 0                 0                 0
1                 0                 0                 0                 0
2                 0                 0                 0                 0
3                 0                 0                 0                 0
4                 0                 0                 1                 0

   PULocationID_109  PULocationID_11  ...  DOLocationID_90  DOLocationID_91  \
0                 0                0  ...                0                0
1                 0                0  ...                0                0
2                 0                0  ...                0                0
3                 0                0  ...                0                0
4                 0                0  ...                0                0

   DOLocationID_92  DOLocationID_93  DOLocationID_94  DOLocationID_95  \
0                0                0                0                0
1                0                0                0                0
2                0                0                0                0
3                0                0                0                0
4                0                0                0                0

   DOLocationID_96  DOLocationID_97  DOLocationID_98  DOLocationID_99
0                0                0                0                0
1                0                0                0                0
2                0                0                0                0
3                0                0                0                0
4                0                0                0                0

[5 rows x 515 columns]

Feature Names:
['PULocationID_1' 'PULocationID_10' 'PULocationID_100' 'PULocationID_101'
 'PULocationID_102' 'PULocationID_106' 'PULocationID_107'
 'PULocationID_108' 'PULocationID_109' 'PULocationID_11'
 'PULocationID_111' 'PULocationID_112' 'PULocationID_113'
 'PULocationID_114' 'PULocationID_115' 'PULocationID_116'
 'PULocationID_117' 'PULocationID_118' 'PULocationID_119'
 'PULocationID_12' 'PULocationID_120' 'PULocationID_121'
 'PULocationID_122' 'PULocationID_123' 'PULocationID_124'
 'PULocationID_125' 'PULocationID_126' 'PULocationID_127'
 'PULocationID_128' 'PULocationID_129' 'PULocationID_13'
 'PULocationID_130' 'PULocationID_131' 'PULocationID_132'
 'PULocationID_133' 'PULocationID_134' 'PULocationID_135'
 'PULocationID_136' 'PULocationID_137' 'PULocationID_138'
 'PULocationID_139' 'PULocationID_14' 'PULocationID_140'
 'PULocationID_141' 'PULocationID_142' 'PULocationID_143'
 'PULocationID_144' 'PULocationID_145' 'PULocationID_146'
 'PULocationID_147' 'PULocationID_148' 'PULocationID_149'
 'PULocationID_15' 'PULocationID_150' 'PULocationID_151'
 'PULocationID_152' 'PULocationID_153' 'PULocationID_154'
 'PULocationID_155' 'PULocationID_156' 'PULocationID_157'
 'PULocationID_158' 'PULocationID_159' 'PULocationID_16'
 'PULocationID_160' 'PULocationID_161' 'PULocationID_162'
 'PULocationID_163' 'PULocationID_164' 'PULocationID_165'
 'PULocationID_166' 'PULocationID_167' 'PULocationID_168'
 'PULocationID_169' 'PULocationID_17' 'PULocationID_170'
 'PULocationID_171' 'PULocationID_172' 'PULocationID_173'
 'PULocationID_174' 'PULocationID_175' 'PULocationID_177'
 'PULocationID_178' 'PULocationID_179' 'PULocationID_18'
 'PULocationID_180' 'PULocationID_181' 'PULocationID_182'
 'PULocationID_183' 'PULocationID_184' 'PULocationID_185'
 'PULocationID_186' 'PULocationID_187' 'PULocationID_188'
 'PULocationID_189' 'PULocationID_19' 'PULocationID_190'
 'PULocationID_191' 'PULocationID_192' 'PULocationID_193'
 'PULocationID_194' 'PULocationID_195' 'PULocationID_196'
 'PULocationID_197' 'PULocationID_198' 'PULocationID_199' 'PULocationID_2'
 'PULocationID_20' 'PULocationID_200' 'PULocationID_201'
 'PULocationID_202' 'PULocationID_203' 'PULocationID_205'
 'PULocationID_206' 'PULocationID_207' 'PULocationID_208'
 'PULocationID_209' 'PULocationID_21' 'PULocationID_210'
 'PULocationID_211' 'PULocationID_212' 'PULocationID_213'
 'PULocationID_214' 'PULocationID_215' 'PULocationID_216'
 'PULocationID_217' 'PULocationID_218' 'PULocationID_219'
 'PULocationID_22' 'PULocationID_220' 'PULocationID_221'
 'PULocationID_222' 'PULocationID_223' 'PULocationID_224'
 'PULocationID_225' 'PULocationID_226' 'PULocationID_227'
 'PULocationID_228' 'PULocationID_229' 'PULocationID_23'
 'PULocationID_230' 'PULocationID_231' 'PULocationID_232'
 'PULocationID_233' 'PULocationID_234' 'PULocationID_235'
 'PULocationID_236' 'PULocationID_237' 'PULocationID_238'
 'PULocationID_239' 'PULocationID_24' 'PULocationID_240'
 'PULocationID_241' 'PULocationID_242' 'PULocationID_243'
 'PULocationID_244' 'PULocationID_245' 'PULocationID_246'
 'PULocationID_247' 'PULocationID_248' 'PULocationID_249'
 'PULocationID_25' 'PULocationID_250' 'PULocationID_251'
 'PULocationID_252' 'PULocationID_253' 'PULocationID_254'
 'PULocationID_255' 'PULocationID_256' 'PULocationID_257'
 'PULocationID_258' 'PULocationID_259' 'PULocationID_26'
 'PULocationID_260' 'PULocationID_261' 'PULocationID_262'
 'PULocationID_263' 'PULocationID_264' 'PULocationID_265'
 'PULocationID_28' 'PULocationID_29' 'PULocationID_3' 'PULocationID_30'
 'PULocationID_31' 'PULocationID_32' 'PULocationID_33' 'PULocationID_34'
 'PULocationID_35' 'PULocationID_36' 'PULocationID_37' 'PULocationID_38'
 'PULocationID_39' 'PULocationID_4' 'PULocationID_40' 'PULocationID_41'
 'PULocationID_42' 'PULocationID_43' 'PULocationID_44' 'PULocationID_45'
 'PULocationID_46' 'PULocationID_47' 'PULocationID_48' 'PULocationID_49'
 'PULocationID_5' 'PULocationID_50' 'PULocationID_51' 'PULocationID_52'
 'PULocationID_53' 'PULocationID_54' 'PULocationID_55' 'PULocationID_56'
 'PULocationID_57' 'PULocationID_58' 'PULocationID_6' 'PULocationID_60'
 'PULocationID_61' 'PULocationID_62' 'PULocationID_63' 'PULocationID_64'
 'PULocationID_65' 'PULocationID_66' 'PULocationID_67' 'PULocationID_68'
 'PULocationID_69' 'PULocationID_7' 'PULocationID_70' 'PULocationID_71'
 'PULocationID_72' 'PULocationID_73' 'PULocationID_74' 'PULocationID_75'
 'PULocationID_76' 'PULocationID_77' 'PULocationID_78' 'PULocationID_79'
 'PULocationID_8' 'PULocationID_80' 'PULocationID_81' 'PULocationID_82'
 'PULocationID_83' 'PULocationID_85' 'PULocationID_86' 'PULocationID_87'
 'PULocationID_88' 'PULocationID_89' 'PULocationID_9' 'PULocationID_90'
 'PULocationID_91' 'PULocationID_92' 'PULocationID_93' 'PULocationID_94'
 'PULocationID_95' 'PULocationID_96' 'PULocationID_97' 'PULocationID_98'
 'DOLocationID_1' 'DOLocationID_10' 'DOLocationID_100' 'DOLocationID_101'
 'DOLocationID_102' 'DOLocationID_106' 'DOLocationID_107'
 'DOLocationID_108' 'DOLocationID_109' 'DOLocationID_11'
 'DOLocationID_111' 'DOLocationID_112' 'DOLocationID_113'
 'DOLocationID_114' 'DOLocationID_115' 'DOLocationID_116'
 'DOLocationID_117' 'DOLocationID_118' 'DOLocationID_119'
 'DOLocationID_12' 'DOLocationID_120' 'DOLocationID_121'
 'DOLocationID_122' 'DOLocationID_123' 'DOLocationID_124'
 'DOLocationID_125' 'DOLocationID_126' 'DOLocationID_127'
 'DOLocationID_128' 'DOLocationID_129' 'DOLocationID_13'
 'DOLocationID_130' 'DOLocationID_131' 'DOLocationID_132'
 'DOLocationID_133' 'DOLocationID_134' 'DOLocationID_135'
 'DOLocationID_136' 'DOLocationID_137' 'DOLocationID_138'
 'DOLocationID_139' 'DOLocationID_14' 'DOLocationID_140'
 'DOLocationID_141' 'DOLocationID_142' 'DOLocationID_143'
 'DOLocationID_144' 'DOLocationID_145' 'DOLocationID_146'
 'DOLocationID_147' 'DOLocationID_148' 'DOLocationID_149'
 'DOLocationID_15' 'DOLocationID_150' 'DOLocationID_151'
 'DOLocationID_152' 'DOLocationID_153' 'DOLocationID_154'
 'DOLocationID_155' 'DOLocationID_156' 'DOLocationID_157'
 'DOLocationID_158' 'DOLocationID_159' 'DOLocationID_16'
 'DOLocationID_160' 'DOLocationID_161' 'DOLocationID_162'
 'DOLocationID_163' 'DOLocationID_164' 'DOLocationID_165'
 'DOLocationID_166' 'DOLocationID_167' 'DOLocationID_168'
 'DOLocationID_169' 'DOLocationID_17' 'DOLocationID_170'
 'DOLocationID_171' 'DOLocationID_172' 'DOLocationID_173'
 'DOLocationID_174' 'DOLocationID_175' 'DOLocationID_176'
 'DOLocationID_177' 'DOLocationID_178' 'DOLocationID_179'
 'DOLocationID_18' 'DOLocationID_180' 'DOLocationID_181'
 'DOLocationID_182' 'DOLocationID_183' 'DOLocationID_184'
 'DOLocationID_185' 'DOLocationID_186' 'DOLocationID_187'
 'DOLocationID_188' 'DOLocationID_189' 'DOLocationID_19'
 'DOLocationID_190' 'DOLocationID_191' 'DOLocationID_192'
 'DOLocationID_193' 'DOLocationID_194' 'DOLocationID_195'
 'DOLocationID_196' 'DOLocationID_197' 'DOLocationID_198' 'DOLocationID_2'
 'DOLocationID_20' 'DOLocationID_200' 'DOLocationID_201'
 'DOLocationID_202' 'DOLocationID_203' 'DOLocationID_204'
 'DOLocationID_205' 'DOLocationID_206' 'DOLocationID_207'
 'DOLocationID_208' 'DOLocationID_209' 'DOLocationID_21'
 'DOLocationID_210' 'DOLocationID_211' 'DOLocationID_212'
 'DOLocationID_213' 'DOLocationID_214' 'DOLocationID_215'
 'DOLocationID_216' 'DOLocationID_217' 'DOLocationID_218'
 'DOLocationID_219' 'DOLocationID_22' 'DOLocationID_220'
 'DOLocationID_221' 'DOLocationID_222' 'DOLocationID_223'
 'DOLocationID_224' 'DOLocationID_225' 'DOLocationID_226'
 'DOLocationID_227' 'DOLocationID_228' 'DOLocationID_229'
 'DOLocationID_23' 'DOLocationID_230' 'DOLocationID_231'
 'DOLocationID_232' 'DOLocationID_233' 'DOLocationID_234'
 'DOLocationID_235' 'DOLocationID_236' 'DOLocationID_237'
 'DOLocationID_238' 'DOLocationID_239' 'DOLocationID_24'
 'DOLocationID_240' 'DOLocationID_241' 'DOLocationID_242'
 'DOLocationID_243' 'DOLocationID_244' 'DOLocationID_245'
 'DOLocationID_246' 'DOLocationID_247' 'DOLocationID_248'
 'DOLocationID_249' 'DOLocationID_25' 'DOLocationID_250'
 'DOLocationID_251' 'DOLocationID_252' 'DOLocationID_253'
 'DOLocationID_254' 'DOLocationID_255' 'DOLocationID_256'
 'DOLocationID_257' 'DOLocationID_258' 'DOLocationID_259'
 'DOLocationID_26' 'DOLocationID_260' 'DOLocationID_261'
 'DOLocationID_262' 'DOLocationID_263' 'DOLocationID_264'
 'DOLocationID_265' 'DOLocationID_27' 'DOLocationID_28' 'DOLocationID_29'
 'DOLocationID_3' 'DOLocationID_30' 'DOLocationID_31' 'DOLocationID_32'
 'DOLocationID_33' 'DOLocationID_34' 'DOLocationID_35' 'DOLocationID_36'
 'DOLocationID_37' 'DOLocationID_38' 'DOLocationID_39' 'DOLocationID_4'
 'DOLocationID_40' 'DOLocationID_41' 'DOLocationID_42' 'DOLocationID_43'
 'DOLocationID_44' 'DOLocationID_45' 'DOLocationID_46' 'DOLocationID_47'
 'DOLocationID_48' 'DOLocationID_49' 'DOLocationID_5' 'DOLocationID_50'
 'DOLocationID_51' 'DOLocationID_52' 'DOLocationID_53' 'DOLocationID_54'
 'DOLocationID_55' 'DOLocationID_56' 'DOLocationID_57' 'DOLocationID_58'
 'DOLocationID_59' 'DOLocationID_6' 'DOLocationID_60' 'DOLocationID_61'
 'DOLocationID_62' 'DOLocationID_63' 'DOLocationID_64' 'DOLocationID_65'
 'DOLocationID_66' 'DOLocationID_67' 'DOLocationID_68' 'DOLocationID_69'
 'DOLocationID_7' 'DOLocationID_70' 'DOLocationID_71' 'DOLocationID_72'
 'DOLocationID_73' 'DOLocationID_74' 'DOLocationID_75' 'DOLocationID_76'
 'DOLocationID_77' 'DOLocationID_78' 'DOLocationID_79' 'DOLocationID_8'
 'DOLocationID_80' 'DOLocationID_81' 'DOLocationID_82' 'DOLocationID_83'
 'DOLocationID_84' 'DOLocationID_85' 'DOLocationID_86' 'DOLocationID_87'
 'DOLocationID_88' 'DOLocationID_89' 'DOLocationID_9' 'DOLocationID_90'
 'DOLocationID_91' 'DOLocationID_92' 'DOLocationID_93' 'DOLocationID_94'
 'DOLocationID_95' 'DOLocationID_96' 'DOLocationID_97' 'DOLocationID_98'
 'DOLocationID_99']

,PULocationID_1,PULocationID_10,PULocationID_100,PULocationID_101,PULocationID_102,PULocationID_106,PULocationID_107,PULocationID_108,PULocationID_109,PULocationID_11,...,DOLocationID_90,DOLocationID_91,DOLocationID_92,DOLocationID_93,DOLocationID_94,DOLocationID_95,DOLocationID_96,DOLocationID_97,DOLocationID_98,DOLocationID_99
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [14]:
def train_and_evaluate_model(feature_df, target_df):
    model = LinearRegression()
    model.fit(feature_df, target_df)
    target_prediction_train = model.predict(feature_df)
    rmse= np.sqrt(mean_squared_error(target_df, target_prediction_train))
    return model, rmse

In [15]:
target_january2023 = df_january2023_filtered["duration_in_minutes"]
model, rmse = train_and_evaluate_model(df_january2023_encoded, target_january2023)
print(f'RMSE of the model on the training data: {rmse}')

RMSE of the model on the training data: 7.649261027848676

In [16]:
df_february2023_encoded = vectorise_location_onehot_encoding(df_february2023_filtered)
df_february2023_encoded.head()

/tmp/ipykernel_12249/3703097537.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[:, 'PULocationID'] = df['PULocationID'].astype(str)
/tmp/ipykernel_12249/3703097537.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[:, 'DOLocationID'] = df['DOLocationID'].astype(str)

Feature Matrix (Sparse):
   PULocationID_1  PULocationID_10  PULocationID_100  PULocationID_101  \
0               0                0                 0                 0
1               0                0                 0                 0
2               0                0                 0                 0
3               0                0                 0                 0
4               0                0                 0                 0

   PULocationID_102  PULocationID_105  PULocationID_106  PULocationID_107  \
0                 0                 0                 0                 0
1                 0                 0                 0                 0
2                 0                 0                 0                 0
3                 0                 0                 0                 0
4                 0                 0                 0                 0

   PULocationID_108  PULocationID_109  ...  DOLocationID_90  DOLocationID_91  \
0                 0                 0  ...                0                0
1                 0                 0  ...                0                0
2                 0                 0  ...                0                0
3                 0                 0  ...                0                0
4                 0                 0  ...                0                0

   DOLocationID_92  DOLocationID_93  DOLocationID_94  DOLocationID_95  \
0                0                0                0                0
1                0                0                0                0
2                0                0                0                0
3                0                0                0                0
4                0                0                0                0

   DOLocationID_96  DOLocationID_97  DOLocationID_98  DOLocationID_99
0                0                0                0                0
1                0                0                0                0
2                0                0                0                0
3                0                0                0                0
4                0                0                0                0

[5 rows x 514 columns]

Feature Names:
['PULocationID_1' 'PULocationID_10' 'PULocationID_100' 'PULocationID_101'
 'PULocationID_102' 'PULocationID_105' 'PULocationID_106'
 'PULocationID_107' 'PULocationID_108' 'PULocationID_109'
 'PULocationID_11' 'PULocationID_112' 'PULocationID_113'
 'PULocationID_114' 'PULocationID_115' 'PULocationID_116'
 'PULocationID_117' 'PULocationID_118' 'PULocationID_119'
 'PULocationID_12' 'PULocationID_120' 'PULocationID_121'
 'PULocationID_122' 'PULocationID_123' 'PULocationID_124'
 'PULocationID_125' 'PULocationID_126' 'PULocationID_127'
 'PULocationID_128' 'PULocationID_129' 'PULocationID_13'
 'PULocationID_130' 'PULocationID_131' 'PULocationID_132'
 'PULocationID_133' 'PULocationID_134' 'PULocationID_135'
 'PULocationID_136' 'PULocationID_137' 'PULocationID_138'
 'PULocationID_139' 'PULocationID_14' 'PULocationID_140'
 'PULocationID_141' 'PULocationID_142' 'PULocationID_143'
 'PULocationID_144' 'PULocationID_145' 'PULocationID_146'
 'PULocationID_147' 'PULocationID_148' 'PULocationID_149'
 'PULocationID_15' 'PULocationID_150' 'PULocationID_151'
 'PULocationID_152' 'PULocationID_153' 'PULocationID_154'
 'PULocationID_155' 'PULocationID_156' 'PULocationID_157'
 'PULocationID_158' 'PULocationID_159' 'PULocationID_16'
 'PULocationID_160' 'PULocationID_161' 'PULocationID_162'
 'PULocationID_163' 'PULocationID_164' 'PULocationID_165'
 'PULocationID_166' 'PULocationID_167' 'PULocationID_168'
 'PULocationID_169' 'PULocationID_17' 'PULocationID_170'
 'PULocationID_171' 'PULocationID_172' 'PULocationID_173'
 'PULocationID_174' 'PULocationID_175' 'PULocationID_177'
 'PULocationID_178' 'PULocationID_179' 'PULocationID_18'
 'PULocationID_180' 'PULocationID_181' 'PULocationID_182'
 'PULocationID_183' 'PULocationID_184' 'PULocationID_185'
 'PULocationID_186' 'PULocationID_188' 'PULocationID_189'
 'PULocationID_19' 'PULocationID_190' 'PULocationID_191'
 'PULocationID_192' 'PULocationID_193' 'PULocationID_194'
 'PULocationID_195' 'PULocationID_196' 'PULocationID_197'
 'PULocationID_198' 'PULocationID_2' 'PULocationID_20' 'PULocationID_200'
 'PULocationID_201' 'PULocationID_202' 'PULocationID_203'
 'PULocationID_204' 'PULocationID_205' 'PULocationID_207'
 'PULocationID_208' 'PULocationID_209' 'PULocationID_21'
 'PULocationID_210' 'PULocationID_211' 'PULocationID_212'
 'PULocationID_213' 'PULocationID_214' 'PULocationID_215'
 'PULocationID_216' 'PULocationID_217' 'PULocationID_218'
 'PULocationID_219' 'PULocationID_22' 'PULocationID_220'
 'PULocationID_221' 'PULocationID_222' 'PULocationID_223'
 'PULocationID_224' 'PULocationID_225' 'PULocationID_226'
 'PULocationID_227' 'PULocationID_228' 'PULocationID_229'
 'PULocationID_23' 'PULocationID_230' 'PULocationID_231'
 'PULocationID_232' 'PULocationID_233' 'PULocationID_234'
 'PULocationID_235' 'PULocationID_236' 'PULocationID_237'
 'PULocationID_238' 'PULocationID_239' 'PULocationID_24'
 'PULocationID_240' 'PULocationID_241' 'PULocationID_242'
 'PULocationID_243' 'PULocationID_244' 'PULocationID_245'
 'PULocationID_246' 'PULocationID_247' 'PULocationID_248'
 'PULocationID_249' 'PULocationID_25' 'PULocationID_250'
 'PULocationID_252' 'PULocationID_253' 'PULocationID_254'
 'PULocationID_255' 'PULocationID_256' 'PULocationID_257'
 'PULocationID_258' 'PULocationID_259' 'PULocationID_26'
 'PULocationID_260' 'PULocationID_261' 'PULocationID_262'
 'PULocationID_263' 'PULocationID_264' 'PULocationID_265'
 'PULocationID_28' 'PULocationID_29' 'PULocationID_3' 'PULocationID_30'
 'PULocationID_31' 'PULocationID_32' 'PULocationID_33' 'PULocationID_34'
 'PULocationID_35' 'PULocationID_36' 'PULocationID_37' 'PULocationID_38'
 'PULocationID_39' 'PULocationID_4' 'PULocationID_40' 'PULocationID_41'
 'PULocationID_42' 'PULocationID_43' 'PULocationID_44' 'PULocationID_45'
 'PULocationID_46' 'PULocationID_47' 'PULocationID_48' 'PULocationID_49'
 'PULocationID_5' 'PULocationID_50' 'PULocationID_51' 'PULocationID_52'
 'PULocationID_53' 'PULocationID_54' 'PULocationID_55' 'PULocationID_56'
 'PULocationID_57' 'PULocationID_58' 'PULocationID_59' 'PULocationID_6'
 'PULocationID_60' 'PULocationID_61' 'PULocationID_62' 'PULocationID_63'
 'PULocationID_64' 'PULocationID_65' 'PULocationID_66' 'PULocationID_67'
 'PULocationID_68' 'PULocationID_69' 'PULocationID_7' 'PULocationID_70'
 'PULocationID_71' 'PULocationID_72' 'PULocationID_73' 'PULocationID_74'
 'PULocationID_75' 'PULocationID_76' 'PULocationID_77' 'PULocationID_78'
 'PULocationID_79' 'PULocationID_8' 'PULocationID_80' 'PULocationID_81'
 'PULocationID_82' 'PULocationID_83' 'PULocationID_85' 'PULocationID_86'
 'PULocationID_87' 'PULocationID_88' 'PULocationID_89' 'PULocationID_9'
 'PULocationID_90' 'PULocationID_91' 'PULocationID_92' 'PULocationID_93'
 'PULocationID_94' 'PULocationID_95' 'PULocationID_96' 'PULocationID_97'
 'PULocationID_98' 'DOLocationID_1' 'DOLocationID_10' 'DOLocationID_100'
 'DOLocationID_101' 'DOLocationID_102' 'DOLocationID_105'
 'DOLocationID_106' 'DOLocationID_107' 'DOLocationID_108'
 'DOLocationID_109' 'DOLocationID_11' 'DOLocationID_111'
 'DOLocationID_112' 'DOLocationID_113' 'DOLocationID_114'
 'DOLocationID_115' 'DOLocationID_116' 'DOLocationID_117'
 'DOLocationID_118' 'DOLocationID_119' 'DOLocationID_12'
 'DOLocationID_120' 'DOLocationID_121' 'DOLocationID_122'
 'DOLocationID_123' 'DOLocationID_124' 'DOLocationID_125'
 'DOLocationID_126' 'DOLocationID_127' 'DOLocationID_128'
 'DOLocationID_129' 'DOLocationID_13' 'DOLocationID_130'
 'DOLocationID_131' 'DOLocationID_132' 'DOLocationID_133'
 'DOLocationID_134' 'DOLocationID_135' 'DOLocationID_136'
 'DOLocationID_137' 'DOLocationID_138' 'DOLocationID_139'
 'DOLocationID_14' 'DOLocationID_140' 'DOLocationID_141'
 'DOLocationID_142' 'DOLocationID_143' 'DOLocationID_144'
 'DOLocationID_145' 'DOLocationID_146' 'DOLocationID_147'
 'DOLocationID_148' 'DOLocationID_149' 'DOLocationID_15'
 'DOLocationID_150' 'DOLocationID_151' 'DOLocationID_152'
 'DOLocationID_153' 'DOLocationID_154' 'DOLocationID_155'
 'DOLocationID_156' 'DOLocationID_157' 'DOLocationID_158'
 'DOLocationID_159' 'DOLocationID_16' 'DOLocationID_160'
 'DOLocationID_161' 'DOLocationID_162' 'DOLocationID_163'
 'DOLocationID_164' 'DOLocationID_165' 'DOLocationID_166'
 'DOLocationID_167' 'DOLocationID_168' 'DOLocationID_169'
 'DOLocationID_17' 'DOLocationID_170' 'DOLocationID_171'
 'DOLocationID_172' 'DOLocationID_173' 'DOLocationID_174'
 'DOLocationID_175' 'DOLocationID_176' 'DOLocationID_177'
 'DOLocationID_178' 'DOLocationID_179' 'DOLocationID_18'
 'DOLocationID_180' 'DOLocationID_181' 'DOLocationID_182'
 'DOLocationID_183' 'DOLocationID_184' 'DOLocationID_185'
 'DOLocationID_186' 'DOLocationID_187' 'DOLocationID_188'
 'DOLocationID_189' 'DOLocationID_19' 'DOLocationID_190'
 'DOLocationID_191' 'DOLocationID_192' 'DOLocationID_193'
 'DOLocationID_194' 'DOLocationID_195' 'DOLocationID_196'
 'DOLocationID_197' 'DOLocationID_198' 'DOLocationID_2' 'DOLocationID_20'
 'DOLocationID_200' 'DOLocationID_201' 'DOLocationID_202'
 'DOLocationID_203' 'DOLocationID_204' 'DOLocationID_205'
 'DOLocationID_206' 'DOLocationID_207' 'DOLocationID_208'
 'DOLocationID_209' 'DOLocationID_21' 'DOLocationID_210'
 'DOLocationID_211' 'DOLocationID_212' 'DOLocationID_213'
 'DOLocationID_214' 'DOLocationID_215' 'DOLocationID_216'
 'DOLocationID_217' 'DOLocationID_218' 'DOLocationID_219'
 'DOLocationID_22' 'DOLocationID_220' 'DOLocationID_221'
 'DOLocationID_222' 'DOLocationID_223' 'DOLocationID_224'
 'DOLocationID_225' 'DOLocationID_226' 'DOLocationID_227'
 'DOLocationID_228' 'DOLocationID_229' 'DOLocationID_23'
 'DOLocationID_230' 'DOLocationID_231' 'DOLocationID_232'
 'DOLocationID_233' 'DOLocationID_234' 'DOLocationID_235'
 'DOLocationID_236' 'DOLocationID_237' 'DOLocationID_238'
 'DOLocationID_239' 'DOLocationID_24' 'DOLocationID_240'
 'DOLocationID_241' 'DOLocationID_242' 'DOLocationID_243'
 'DOLocationID_244' 'DOLocationID_245' 'DOLocationID_246'
 'DOLocationID_247' 'DOLocationID_248' 'DOLocationID_249'
 'DOLocationID_25' 'DOLocationID_250' 'DOLocationID_251'
 'DOLocationID_252' 'DOLocationID_253' 'DOLocationID_254'
 'DOLocationID_255' 'DOLocationID_256' 'DOLocationID_257'
 'DOLocationID_258' 'DOLocationID_259' 'DOLocationID_26'
 'DOLocationID_260' 'DOLocationID_261' 'DOLocationID_262'
 'DOLocationID_263' 'DOLocationID_264' 'DOLocationID_265'
 'DOLocationID_27' 'DOLocationID_28' 'DOLocationID_29' 'DOLocationID_3'
 'DOLocationID_30' 'DOLocationID_31' 'DOLocationID_32' 'DOLocationID_33'
 'DOLocationID_34' 'DOLocationID_35' 'DOLocationID_36' 'DOLocationID_37'
 'DOLocationID_38' 'DOLocationID_39' 'DOLocationID_4' 'DOLocationID_40'
 'DOLocationID_41' 'DOLocationID_42' 'DOLocationID_43' 'DOLocationID_44'
 'DOLocationID_45' 'DOLocationID_46' 'DOLocationID_47' 'DOLocationID_48'
 'DOLocationID_49' 'DOLocationID_5' 'DOLocationID_50' 'DOLocationID_51'
 'DOLocationID_52' 'DOLocationID_53' 'DOLocationID_54' 'DOLocationID_55'
 'DOLocationID_56' 'DOLocationID_57' 'DOLocationID_58' 'DOLocationID_59'
 'DOLocationID_6' 'DOLocationID_60' 'DOLocationID_61' 'DOLocationID_62'
 'DOLocationID_63' 'DOLocationID_64' 'DOLocationID_65' 'DOLocationID_66'
 'DOLocationID_67' 'DOLocationID_68' 'DOLocationID_69' 'DOLocationID_7'
 'DOLocationID_70' 'DOLocationID_71' 'DOLocationID_72' 'DOLocationID_73'
 'DOLocationID_74' 'DOLocationID_75' 'DOLocationID_76' 'DOLocationID_77'
 'DOLocationID_78' 'DOLocationID_79' 'DOLocationID_8' 'DOLocationID_80'
 'DOLocationID_81' 'DOLocationID_82' 'DOLocationID_83' 'DOLocationID_84'
 'DOLocationID_85' 'DOLocationID_86' 'DOLocationID_87' 'DOLocationID_88'
 'DOLocationID_89' 'DOLocationID_9' 'DOLocationID_90' 'DOLocationID_91'
 'DOLocationID_92' 'DOLocationID_93' 'DOLocationID_94' 'DOLocationID_95'
 'DOLocationID_96' 'DOLocationID_97' 'DOLocationID_98' 'DOLocationID_99']

,PULocationID_1,PULocationID_10,PULocationID_100,PULocationID_101,PULocationID_102,PULocationID_105,PULocationID_106,PULocationID_107,PULocationID_108,PULocationID_109,...,DOLocationID_90,DOLocationID_91,DOLocationID_92,DOLocationID_93,DOLocationID_94,DOLocationID_95,DOLocationID_96,DOLocationID_97,DOLocationID_98,DOLocationID_99
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
target_february_2023 = df_february2023_filtered["duration_in_minutes"]
model, rmse = train_and_evaluate_model(df_february2023_encoded, target_february_2023)
print(f'RMSE of the model on the training data: {rmse}')